{% extends "layout.html" %}
{% block title %}Luo uusi käyttäjätili{% endblock %}
{% block page_content %}
<div class="row">
    <div class="col-6">
        <h1>Luo uusi käyttäjätili</h1>
        <p>
            Kun olet luonut oman käyttäjätilin, voit alkaa tekemään Ruotsitreenin harjoituksia.
        </p>
    </div>
    <div class="col-6 pt-2">
        {% if error %}
        <div class="alert alert-danger mt-2" role="alert">
            {{ error }}
        </div>
        {% endif %}
        {% set user_form_action_button = "Luo uusi käyttäjätili" %}
        {% set form_action = "/create_user" %}
        {% set username_help = "Käyttäjätunnus tulee olla 3 - 12 merkkiä pitkä ja voi sisältää kirjaimia ja numeroita." %}
        {% set password_help = "Salasanan tulee olla 6-20 merkkiä pitkä ja voi sisältää kirjaimia, erikoismerkkejä ja numeroita." %}
        {% include "user_form.html" %}
    </div>
</div>

{% endblock %}