{% extends "layout.html" %}
{% block title %}Harjoitusnäkymä{% endblock %}
{% block page_content %}
<div class="row no-gutters justify-content-between">
    <div class="col-7 text-center">
        {% if not word %}
        <p class="mt-2">Harjoituksessa ei ole vielä sanoja.</p>
        {% else %}
        <h3 class="mt-2 mb-0 pb-0">{{ word.finnish_word }}</h3>
        <small class="text-muted mt-0 pt-0 mb-1">suomeksi</small><br>
        <img src="/image/{{ word.id }}" class="img-fluid" alt="Kuva sanasta {{ word.finnish_word }}">
        <hr>

        <form action="/exercise/{{ exercise.id }}/word/{{ word.id }}/answer" method="POST">
            {% if use_multichoice %}
            <div class="form-group">
                <label>Valitse oikea vastaus ruotsiksi:</label><br>
                {% for five_choices in multiple_choices|batch(5) %}
                <div class="row btn-group btn-group-justified mb-1">
                    {% for choice in five_choices %}
                    <button type="submit" class="btn btn-light ml-1 mr-1" name="answer" value="{{ choice }}">{{ choice
                        }}</button>
                    {% endfor %}
                </div>
                <br>
                {% endfor %}
            </div>
            {% else %}
            <label for="answer">Anna sana ruotsiksi:</label>
            <div class="form-row">
                <div class="col">
                    <input type="text" autocomplete="off" class="form-control" id="answer" name="answer" maxlength="100" autofocus required>
                </div>
                <button type="submit" class="btn btn-primary ml-1 mr-1">Vastaa</button>
            </div>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="hidden" name="used_multichoice" value="{{ use_multichoice }}">
        </form>

        {% if answer %}
        {% set alert_type = "alert-danger" %}
        {% if answer == correct_answer%}{% set alert_type = "alert-success" %}{% endif %}
        <div class="alert {{ alert_type }} mt-2 w-100" role="alert">
            {% if answer != correct_answer %}
            Vastasit väärin. Oikea vastaus oli: {{ correct_answer }}
            {% else %}
            Vastasit oikein!
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="col-4 bg-light rounded p-2">
        {% include "exercise_info.html" %}
        <div class="col-12 text-center">
            {% if admin %}
            <a class="btn btn-primary mb-2 w-75" href="/exercise/{{ exercise.id }}/modify" role="button">Muuta
                tietoja</a>
            <br>
            <a class="btn btn-primary mb-2 w-75" href="/exercise/{{ exercise.id }}/word" role="button">Muokkaa
                sanoja</a>
            <br>
            <form action="/exercise/{{ exercise.id }}/visible" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                {% if not exercise.visible %}
                <button type="submit" class="btn btn-primary mb-2 w-75">Tee
                    näkyväksi</button>
                {% else %}
                <button type="submit" class="btn btn-primary mb-2 w-75">Tee
                    näkymättömäksi</button>
                {% endif %}
            </form>
            <a class="btn btn-danger mb-2 w-75" href="/exercise/{{ exercise.id }}/delete" role="button">Poista
                harjoitus</a>
            <hr>
            {% endif %}
            <form action="/exercise/{{ exercise.id }}/flip_answer_style" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit" class="btn btn-primary mb-2 w-75">Vaihda vastaustapaa</button>
            </form>
            <a class="btn btn-primary mb-2 w-75" href="/" role="button">Lopeta harjoittelu</a><br>
        </div>
    </div>
</div>
{% endblock %}