<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Harjoitusnäkymä{% endblock %}
{% block page_content %}
<div class="row no-gutters">
    <div class="col-8">
        Harjoitusnäkymä
    </div>
    <div class="col-4 bg-light rounded">
        <h3>{{ exercise.title }}
        {% if not exercise.visible %}
            <small class="text-muted">(näkymätön)</small>
        {% endif %}
        </h3>
        <p>{{ exercise.topic }}</p>
        <hr>
        <div class="col-12 text-center">
        {% if admin %}
            <a class="btn btn-primary mb-2 w-50" href="#" role="button">Muuta tietoja</a>
            <br>
            <a class="btn btn-primary mb-2 w-50" href="#" role="button">Muokkaa sanoja</a>
            <br>
            {% if not exercise.visible %}
                <a class="btn btn-primary mb-2 w-50" href="/exercise/{{ exercise.id }}/visible" role="button">Tee näkyväksi</a>
            {% else %}
                <a class="btn btn-primary mb-2 w-50" href="/exercise/{{ exercise.id }}/visible" role="button">Tee näkymättömäksi</a>
            {% endif %}
            <br>
        {% endif %}
        <a class="btn btn-primary mb-2 w-50" href="/" role="button">Lopeta harjoittelu</a><br>
        </div>
    </div>
</div>
{% endblock %}