<div class="border border-info rounded m-2 p-1">
    <h3 class="text-center">HypeZone</h3>
    <div class="overflow-auto mt-3 mb-2 bg-light d-flex flex-column-reverse text-break" style="height: 25em">
        <ul class="list-group list-group-flush">
            {% for message in messages %}
            <li class="list-group-item">{{ message.username }}: {{ message.content }}</li>
            {% endfor %}
            {% if not messages %}
            <li class="list-group-item">Ei vielä viestejä.</li>
            {% endif %}
        </ul>
    </div>
    <form class="needs-validation" action="/message/post" method="POST" novalidate>
        <div class="form-group mb-2">
            <textarea rows="2" class="form-control" id="inputMessage" name="inputMessage" minlength="1" maxlength="100"
                placeholder="Kirjoita viesti tähän" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="sendMessage">Lähetä viesti</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>


<script type="text/javascript" src="/static/validation.js"></script>
<script type="text/javascript">
    const inputMessage = document.getElementById("inputMessage");

    inputMessage.addEventListener("input", function (event) {
        let message = inputMessage.value;

        if (message.match("^\\s*$")) {
            inputMessage.value = ""
            inputMessage.setCustomValidity("Kirjoita jotain viestiin ensin.")
        } else {
            inputMessage.setCustomValidity("")
        }
    });

    inputMessage.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            // Prevent normal enter use in input.
            event.preventDefault();
            document.getElementById("sendMessage").click();
        }
    });
</script>