<div class="border border-info rounded m-2 p-1">
    <h3 class="text-center">HypeZone</h3>
    <div class="overflow-auto mt-3 mb-2 bg-light d-flex flex-column-reverse" style="height: 25em">
        <ul class="list-group list-group-flush">
            {% for message in messages %}
            <li class="list-group-item">{{ message.username }}: {{ message.content }}</li>
            {% endfor %}
            {% if not messages %}
            <li class="list-group-item">Ei vielä viestejä.</li>
            {% endif %}
        </ul>
    </div>
    <form action="/message/post" method="POST">
        <div class="form-group mb-2">
            <textarea class="form-control" id="inputMessage" name="inputMessage" rows="2" placeholder="Kirjoita viesti tähän"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Lähetä viesti</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>