<div class="border border-info rounded m-2 p-1">
    <h3 class="text-center">HypeZone</h3>
    {% if admin %}
    {% if delete_message %}
    <div class="alert alert-warning text-break" role="alert">
        Poista viesti?
        <hr>
        <a href="/account/{{ delete_message.user_id }}">{{ delete_message.username }}</a>: {{ delete_message.content }}
        <hr>
        <form action="/message/{{ delete_message.id }}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Poista</button>
            <a href="/" class="btn btn-primary" role="button">Peru</a>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
    {% endif %}
    {% endif %}
    <div class="overflow-auto mt-3 mb-2 bg-light d-flex flex-column-reverse text-break" style="height: 25em">
        {% if admin %}
        <ul class="list-group list-group-flush">
        {% for message in messages %}
        {% if not message.visible %}
        {% set message_deleted = "disabled" %}
        {% endif %}

        <li class="list-group-item p-0 border-0">
            <a href="/message/{{ message.id }}/delete"
                class="list-group-item list-group-item-action {{ message_deleted }}">
                {{ message.username }}: {{ message.content }}
                {% if message_deleted %}
                <span class="badge badge-secondary badge-pill">Poistettu</span>
                {% endif %}
            </a>
        </li>
        {% endfor %}
        </ul>
        {% else %}
        <ul class="list-group list-group-flush">
            {% for message in messages %}
            <li class="list-group-item">{{ message.username }}: {{ message.content }}</li>
            {% endfor %}
            {% if not messages %}
            <li class="list-group-item">Ei vielä viestejä.</li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    {% if admin %}
    <div class="mb-2 p-1 border border-1">
        <small class="text-muted">Voit poistaa viestejä klikkaamalla niitä. Poistetut viestit eivät näy tavallisille käyttäjille. </small>
    </div>
    {% endif %}
    <form class="needs-validation" action="/message/post" method="POST" novalidate>
        <div class="form-group mb-2">
            <textarea rows="2" class="form-control" id="inputMessage" name="inputMessage" minlength="1" maxlength="100"
                placeholder="Kirjoita viesti tähän" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="sendMessage">Lähetä viesti</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>


<script type="text/javascript" src="/static/validation.js"></script>
<script type="text/javascript">
    const inputMessage = document.getElementById("inputMessage");

    inputMessage.addEventListener("input", function (event) {
        let message = inputMessage.value;

        if (message.match("^\\s*$")) {
            inputMessage.value = ""
            inputMessage.setCustomValidity("Kirjoita jotain viestiin ensin.")
        } else {
            inputMessage.setCustomValidity("")
        }
    });

    inputMessage.addEventListener("keydown", function (event) {
        if (event.keyCode === 13) {
            // Prevent normal enter use in input.
            event.preventDefault();
            document.getElementById("sendMessage").click();
        }
    });
</script>