<div class="row no-gutters justify-content-between">
    <div class="col-8 pr-4">
        <h3>{{ form_title }}</h3>
        {% include "error_alert.html" %}
        <form class="needs-validation" action="{{ form_action }}" method="POST" enctype="multipart/form-data" novalidate>
            <div class="form-group mt-2">
                <label for="inputFinnishWord">Sana suomeksi:</label>
                <input type="text" class="form-control" id="inputFinnishWord" name="inputFinnishWord" value="{{ finnish_word }}" required>
                <div class="invalid-feedback" id="invalidInputFinnishWord">Suomenkielinen sana puuttuu.</div>
            </div>
            <div class="form-group mt-2">
                <label for="inputSwedishWord">Sana ruotsiksi:</label>
                <input type="text" class="form-control" id="inputSwedishWord" name="inputSwedishWord" value="{{ swedish_word }}" required>
                <div class="invalid-feedback" id="invalidInputSwedishWord">Ruotsinkielinen sana puuttuu.</div>
            </div>
            <div class="form-group mt-2">
                <label for="inputMultipleChoice">Monivalinnan väärät vastaukset:</label>
                <textarea class="form-control" id="inputMultipleChoice" name="inputMultipleChoice" rows="5"  aria-describedby="multipleChoiceHelp">{% for choice in answer_choices %}{{ choice[0] ~ "\n" }}{% endfor %}</textarea>
                <small id="multipleChoiceHelp" class="form-text text-muted">Sanojen tulee olla jokainen omalla rivillään. Sovellus hyväksyy 20 ensimmäistä sanaa. Jos et anna sanoja, niin järjestelmä arpoo niitä vastausvaihtoehdoiksi.</small>
            </div>
            {% if not modify %}
            <div class="form-group mt-2">
                <label for="inputImage">Liitä kuva:</label>
                <input type="file" class="form-control-file" id="inputImage" name="inputImage" accept="image/jpeg" required>
                <div class="invalid-feedback" id="invalidInputImage">Kuvatiedosto ei saa puuttua. Sen tulee olla kooltaan alle 150 kB ja jpg-päätteinen.</div>
            </div>
            {% else %}
            Nykyinen kuva: <br>
            <img src="/image/{{ selected_word.id }}" class="img-fluid" alt="Kuva sanasta {{ selected_word.finnish_word }}">
            <br>
            <div class="form-group mt-2">
                <label for="inputImage">Muuta kuvaa:</label>
                <input type="file" class="form-control-file" id="inputImage" name="inputImage" accept="image/jpeg">
                <div class="invalid-feedback" id="invalidInputImage">Kuvatiedoston tulee olla kooltaan alle 150 kB ja jpg-päätteinen.</div>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">{{ submit_button_text }}</button>
            <input type="hidden" name="exercise_id" value="{{ exercise.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
    <div class="col-4 bg-light rounded p-2">
        <h3>{{ exercise.title }}
        {% if not exercise.visible %}
            <small class="text-muted">(näkymätön)</small>
        {% endif %}
        </h3>
        <p>{{ exercise.topic }}</p>
        <hr>
        <form action="/exercise/{{ exercise.id }}/word/modify" method="POST">
            <div class="form-group">
                <label for="wordSelection">Harjoituksen sanalista:</label>
                <select class="form-control" id="wordSelection" name="wordSelection">
                    {% for word in words %}
                    {% if selected_word is defined and selected_word.id == word.id %}{% set selected_tag = "selected" %}{% endif %}
                        <option value="{{ word.id }}" {{selected_tag}}>{{ word.finnish_word}} : {{ word.swedish_word }}</option>
                    {% endfor %}
                    {% if not words %}
                        <option>Ei sanoja</option>
                    {% endif %}
                </select>
            </div>
            {% if words %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-2 w-75" name="modify">Siirry muokkaamaan sanaa</button>
                    {% if selected_word %}
                    <a class="btn btn-primary mb-2 w-75" href="/exercise/{{ exercise.id }}/word" role="button">Luo uusi
                        sana</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary w-75" name="remove">Poista sanalistan sana</button>
                </div>
            {% endif %}
            <input type="hidden" name="exercise_id" value="{{ exercise.id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
        <hr>
        <div class="text-center">
            <a class="btn btn-primary mb-2 w-75" href="/exercise/{{ exercise.id }}" role="button">Takaisin</a>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/validation.js"></script>